/* Regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}

/* HEADER */
header{
    height: 100px;
}

#title {
    font-weight: 700;
    height: 100%;
    display: flex;
    align-items: center;
}

#title h1{
    font-weight: 700;
}

#logo{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

#colButton{
    display: flex;
    justify-content: center;
}

/* MAIN */

main{
    height: calc(100vh - 150px);
    width: 100%;
    position: absolute;
    top: 100px;
    bottom: 50px;
    background-color: aquamarine;
}


/* FOOTER */
footer{
    background-color: grey;
    height: 50px;
    width: 100%;
    position: absolute;
    top: calc(100vh - 50px);

}